body {
    background-color: #0a0a0a;
    width: 100%;
}
#main-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.height {
    height: 100vh;
}
.curly {
    color: #fff;
    font-family: 'Cabin Sketch', cursive;
    font-size: 1000%;
}
/*.my-content {*/
    /*position: relative;*/
    /*height:auto;*/
}
.cover-letter {
    color: white;
    /*position: relative;*/
    /*top: 300px;*/
    /*right: 10px;*/
    /*left: 350px;*/
    font-size: larger;
}
#open-bracket {
    float: left;
}
#close-bracket {
    float: right;
}

